/* 虚拟数字键盘 */
.keyboard {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    position: fixed;
    bottom: 0;
    -webkit-transform: translateY(224px);
    transform: translateY(224px);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.keyboard.on {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.keyboard .key {
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 24px;
    color: #333;
    background: #fff;
    border-top: solid 1px #dedede;
    border-left: solid 1px #dedede;
}

.keyboard .key:active {
    color: rgba(255, 255, 255, 0.4);
    background: #eee;
}

.keyboard .key.pay {
    background: #5aa7ff;
    color: #fff;
    vertical-align: top;
}

.keyboard .key.pay:active,
.keyboard .key.off {
    color: rgba(255, 255, 255, 0.4);
    background: #509bff;
}

.keyboard .key.backspace:before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    vertical-align: middle;
    background: url(../img/bac.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.keyboard .key.return:before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    vertical-align: middle;
    background: url(../img/kb.png) no-repeat 0 0;
    background-size: 100% 100%;
}

@media all and (min-height:600px) {
    .keyboard {
        -webkit-transform: translateY(284px);
        transform: translateY(284px);
    }
    .keyboard .key {
        height: 70px;
        line-height: 70px;
        font-size: 32px;
    }
}
